@import-normalize;
@import "colors";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $main-black !important;
    font-size: 14px;
    width: 100vw !important;
    min-height: 100vh !important;
    background-color: $main-bg !important;
}

select, input {
    outline: none;
}

button,
button:active,
button:hover {
    outline: 0;
    border-style: none;
}

ul {
    padding: 0;
    list-style-type: none;
}

.ant-card-meta-title{
    color: $main-black !important;
}

.ant-picker {
    background: $main-white !important;
    border: 0 !important;
    border-bottom: 1px solid $main-black !important;
    color: $main-black !important;
    border-radius: 0;
    outline: 0 !important;
}
.ant-picker:hover, .ant-picker-focused {
    border: 0 !important;
    border-bottom: 1px solid $secondary-black !important;
}
.ant-picker-focused {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.ant-picker.ant-picker-disabled {
    background: $main-white  !important;
    border-bottom: 1px solid $secondary-gray  !important;
    &:hover{
        border-bottom: 1px solid $secondary-gray !important;
    }
}
.ant-picker-footer{
    display: none;
}
.ant-picker-input > input{
    color: $main-black;
}
.ant-switch-checked {
    background-color: $secondary-black !important;
}
