@import "colors";
@mixin container {
    width: 540px;
    height: 360px;
    margin: 12% auto;
    padding: 20px;
    box-shadow: $main-shadow;
    background-color: $main-white;
    border-radius: 10px;
}
@mixin button {
    padding: 7px 20px;
    width: 200px;
    color: $main-black;
    background-color: $main-white;
    border: 2px solid $main-black;
    border-radius: 20px;
}
